<div class="container" *ngIf="cardService">
  <div class="for-button">
    <button routerLink="/home">Home</button>
  </div>
  <div class="wrapper">
    <div class="avatar">
      <img [src]="cardService.user.avatar_url" alt="avatar">
    </div>
    <div class="info">
      <div class="login">
        {{cardService.user.login}}
      </div>
      <div class="email">
        {{cardService.user.email}}
      </div>
      <div class="name">
        {{cardService.user.name}}
      </div>
    </div>
    <div class="numbers">
      <div class="number-followers">
        <img src="../../assets/images/user-1.png" alt="follower">
        <span>Followers</span>
        <div class="followers">
          {{cardService.user.followers}}
        </div>
      </div>
      <div class="separator"></div>
      <div class="number-repos">
        <span>Public repos</span>
        <div class="repos">
          {{cardService.user.public_repos}}
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-repo">
    <app-repo class="repos" *ngFor="let repo of cardService.user.repos" [repoPersonal]="repo"></app-repo>
  </div>

</div>
